<%= provide(:title, "Adam Richardson Website Design/Development - Home") %>

<div class="intro">
        <div class="row data-equalizer">

            <div class="small-12 medium-5 columns me-image data-equalizer-watch">
            <%=image_tag("adamrichardson.png", alt: "Example Image")%>
            </div>   
          
              <div class="small-12 medium-7 columns data-equalizer-watch"><h2>Welcome to my Portfolio <br><small class="intro-small">Learn more about me and check out my work.</small> </h2>

                  <div class="row social">

                        <div class="small-3 medium-3 columns">
                          <a href="#"><i class="fa fa-facebook fa-fw fa-4x"></i></a>
                        </div>

                        <div class="small-3 medium-3 columns">
                          <a href="#"><i class="fa fa-instagram fa-fw fa-4x"></i></a>
                        </div>
                
                        <div class="small-3 medium-3 columns">
                          <a href="#"><i class="fa fa-linkedin fa-fw fa-4x"></i></a>
                        </div>

                        <div class="small-3 medium-3 columns">
                          <a href="#"><i class="fa fa-twitter  fa-fw fa-4x"></i></a>
                        </div>
                  </div> <!-- end social -->

          <div class="row">
            <div class="small-12 medium-12  columns btns-group">
            <ul class="button-group radius round">
              <li><%= link_to "Visit Blog", about_path, class:"button small secondary success"%></li>
              <li><%= link_to "Learn About Me", about_path, class:"button small secondary success" %></li>
            </ul>
            </div>
          </div>  <!-- end btn group -->

          </div>   <!-- end medium 7 row -->

        </div> <!-- end container row --> 

      </div> <!-- end intro row -->

      <div class="whatwedo">
  
        <div class="row">

          <div class="small-12 columns">
            <hr>
            <h3><small>Design Process</small></h3>
            <hr>
          </div>
        </div>
        <div class="row ">
          <div class="small-12 columns">
            <h2>Websites your customers will love!</h2>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <p>I focus on creating a website that will deliver great results for your business. We have a great process to make that happen.</p>
          </div>
        </div>

        <div class="row text-center data-equalizer">
          <div class="small-12 medium-8 columns data-equalizer-watch">
          
          <div class="small-4 columns">
            <h3>Research</h3>
            <i class="fa fa-pie-chart fa-fw fa-3x fa-steel"></i>
            
          </div>
          <div class="small-4 columns">
            <h3>Design</h3>
            <i class="fa fa-pencil fa-fw fa-3x fa-steel"></i>
            
          </div>
          <div class="small-4 columns">
            <h3>Develop</h3>
            <i class="fa fa-code fa-fw fa-3x fa-steel"></i>
            
          </div>
          </div>
      

  
          <div class="small-12 medium-4 columns data-equalizer-watch learn-more-process">
          <a class="button round expand" href="#"> Learn about our Process</a>
          </div>
      </div>

    </div>

<div class="whatioffer">
<div class="row">
  <div class="small-12 columns">
            <hr>
            <h3><small>What We Offer</small></h3>
            <hr>    
  </div>

</div>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <h4>Company Branding</h4>
      <i class="fa fa-magic fa-3x what-icon fa-fw"></i>
      <p class="">All businesses start with the brand. We will work with you to create the perfect identity for your business.</p>
      <hr>
    </div>
    <div class="small-12 medium-4 columns">
      <h4>Website Design/Development</h4>
      <i class="fa fa-code-fork fa-3x what-icon fa-fw"></i>
      <p>Design and build your website/app. Whatever your idea, we can make your dream website a reality. </p> <hr>
    </div>
    <div class="small-12 medium-4 columns">
      <h4>Online Marketing/SEO</h4>
      <i class="fa fa-group fa-3x what-icon fa-fw"></i>
      <p>Online marketing is a challenge for new businesses. We are here to help you succeed!<p> <hr>
    </div>
  </div>

  <div class="row">

    <div class="small-12 medium-4 columns">
      <h4>Website Maintenence</h4>
      <i class="fa fa-gears fa-3x what-icon fa-fw"></i>
      <p>It's important to keep your website maintained, upto date and secure so it performs at full potential.</p> <hr>
    </div>
    <div class="small-12 medium-4 columns">
      <h4>Website/app hosting</h4>
      <i class="fa fa-cloud-upload fa-3x what-icon fa-fw"></i>
      <p>We have top of the line hosting. Whatever hosting plan you need, we have got you covered. </p> <hr>
    </div>
    <div class="small-12 medium-4 columns">
      <h4>User Experience Design</h4>
      <i class="fa fa-user-plus fa-3x what-icon fa-fw"></i>
      <p>This is a large part of any website. Making sure your users enjoy their stay, to ensure they will return.</p> <hr>
    </div>
    
  </div>


  </div> <!-- end What I offer! -->

  <div class="selectedwork">

  <div class="row">
    <div class="small-12 columns">
      <h2>Selected Work</h2>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-5 columns">
      <h4>JTM Motors</h4>
      <p>Website Design/Development</p>
      <%= image_tag("jtmmotors.png", alt:"Website Design/Development for JTM Motors", class:"portfolio-item")%>
    </div>

    <div class="small-12 medium-7 columns">
      <h4>The Smart Finish</h4>
      <p>Website Design/Development</p>
      <%=image_tag("smartfinish.jpg",  alt: "Website Design and Development for The Smart Finish", class:"portfolio-item")%>
    </div>

  </div> <!-- end of first row -->


</div> <!-- End selected work -->
